<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.1"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <configProtectedData>
    <providers/>
  </configProtectedData>
  <appSettings>
    <!-- must define OnBaseUrl where value is the app server url-->
    <!-- must define OnBaseDataSource where value is the datasource name to use-->
  </appSettings>
  <connectionStrings>
    <!-- must define OnBase connection string-->
  </connectionStrings>
</configuration>